@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

/* Hide scrollbar for the entire website */


/* Optional: Style scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar width */
  background: transparent;
  /* Optional: Set scrollbar background color */
}

/* Optional: Style scrollbar thumb (dragging handle) for webkit browsers */
::-webkit-scrollbar-thumb {
  background: transparent;
  /* Optional: Set scrollbar thumb color */
}


#main {
  background: linear-gradient(150deg, rgb(255, 166, 0), rgb(255, 94, 0));

}

.container {
  position: relative;
  width: 700px;
  height: 700px;
  margin: auto;
  top: 15%;
}

.circle {
  width: 100%;
  height: 100%;
  /* border: 2px solid; */
  border-radius: 50%;
}

.image {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 200px;
  height: 200px;

  background-size: cover;
  transform: translateY(-50%) translateX(-50%) rotate(var(--angle)) translateX(350px);
  /* Adjust translateX value based on circle's radius */
}